#root {
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}
/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
  color: var(--text);
  flex-wrap: wrap;
  min-height: 100vh;
}

.hey {
  font-family: "Dancing Script", cursive;
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 3rem;
  font-weight: 400;

  cursor: none;
}
.waving-hand {
  position: absolute;
  font-size: 2.2rem;
}
.waving-hand:hover {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero-content {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.hero-tittle {
  text-transform: uppercase;
  font-size: 14rem;
  color: var(--text-muted);
}
.hero-subTittle {
  font-family: "Huninn", sans-serif;
  margin: -30px auto -70px 6px;
  color: var(--text);
  text-shadow: 2px 2px 4px var(--border);
}
section span {
  color: var(--primary);

  text-shadow: 2px 2px 4px var(--border);
}
.hero-subTittle,
.hero-dis {
  padding: 0.5rem;
}
/* Hero phone */

/* About Section */
.about-section {
  position: relative;
  background-color: var(--bg-dark);
  color: var(--text);
}
.about-section::before {
  content: "";
  width: 120%;
  height: 300px;
  background-color: var(--bg-light);
  position: absolute;
  top: -100px;
  left: -20px;
  transform: rotate(-3deg);
}

.about-section .animateLineBox {
  z-index: 5;
  position: relative;
}

/* Project Section */
.project-section {
  padding: 2rem 0;
  background-color: var(--bg-dark);
  color: var(--text);

  position: relative;
}

.animateLineBox {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem 0 2rem 2rem;
  gap: 1rem;
  overflow: hidden;
  justify-content: space-between;
}

.section-title {
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  transition: all 2s ease;
  margin: 1rem 0;
}

.animated-line {
  height: 2px;
  width: 70%;
  background-color: #00f6ff;
  transition: width 2s ease;
}
.aboutLine {
  width: 90%;
}
/* Contact Me */
.contact-section {
  position: relative;
  min-height: 50vh;
  padding: 5rem;
  background-color: var(--bg-light);
  color: var(--text);
}
.contact-content {
  display: flex;
  flex-direction: column;
}
.contactMe {
  font-size: 8rem;
}
.contact-info {
  text-align: center;
}
.contact-info button {
  padding: 1rem 1.6rem;
  border: 1px solid var(--border);
  border-radius: 1rem;
  background-color: var(--bg-light);
  color: var(--text);
  transition: all 0.3s ease-out;
  font-size: 1rem;
  position: relative;
  margin: 0.6rem 1rem;
}

.email:hover {
  transform: scale(1.1);
}
.email:hover ~ .phone {
  transform: scale(0.9);
}
.phone:hover {
  transform: scale(1.1);
}
.contact-info:hover .email:not(:hover) {
  transform: scale(0.9);
}
.contact-info button:active {
  box-shadow: inset 2px 2px 4px var(--border);
}
.tip {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--border) 0px 12px 8px 1px;
  opacity: 0;
  transition: ease-in opacity 100ms;
  display: block;
  background: var(--bg-dark);
  padding: 0.6rem 1rem;
  border-radius: 12px;
  font-size: 0.9rem;
  color: var(--text-muted);
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 12px 8px 1px;
  white-space: nowrap;
}
.contact-info button:hover .tip {
  opacity: 1;
}

@media only screen and (max-width: 1338px) {
  .hey {
    font-size: 2rem;
  }
  .hero-tittle {
    font-size: 12rem;
  }
  .hero-subTittle {
    margin: -30px auto -60px 0;
  }
  .aboutLine {
    width: 85%;
  }
}
@media only screen and (max-width: 1146px) {
  .hero-tittle {
    font-size: 11rem;
  }
  .aboutLine {
    width: 85%;
  }
  .hero-subTittle {
    margin: -30px auto -54px 0;
  }
}

@media only screen and (max-width: 1050px) {
  .hero-tittle {
    font-size: 10rem;
  }
  .hero-subTittle {
    margin: -30px auto -50px 0;
  }
}
@media only screen and (max-width: 958px) {
  .hero-tittle {
    font-size: 9rem;
  }
  .hero-subTittle {
    margin: -30px auto -46px 0;
  }
}
@media only screen and (max-width: 862px) {
  .hero-tittle {
    font-size: 8rem;
  }
  .hero-subTittle {
    margin: -30px auto -40px 0;
  }
}
@media only screen and (max-width: 770px) {
  .hero-tittle {
    font-size: 7rem;
  }
  .hero-subTittle {
    margin: -30px auto -34px 0;
  }
  .aboutLine {
    width: 80%;
  }
}
@media only screen and (max-width: 670px) {
  .hero-tittle {
    font-size: 6rem;
  }
  .hero-subTittle {
    margin: -30px auto -30px -4px;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 574px) {
  .hero-tittle {
    font-size: 5rem;
  }

  .hero-subTittle {
    margin: -20px auto -26px -4px;
    font-size: 1.3rem;
  }
  .aboutLine {
    width: 75%;
  }
}
/* mobile */
@media only screen and (max-width: 478px) {
  /* hero */
  .hero-content {
    margin-top: -150px;
  }
  .hero-tittle {
    font-size: 8rem;
  }
  .hero-subTittle {
    margin: -20px auto -30px -4px;
    font-size: 1.5rem;
  }
  /* Contact Section */
  .contact-section {
    padding: 2rem;
  }
  .contactMe {
    font-size: 6rem;
    padding-bottom: 2rem;
  }
  .aboutLine {
    width: 70%;
  }
}
